*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

 .header{
       width: 100%;
       height: 100vh;
       padding: 0 10%;
       background: #f7efef;
 }
 nav{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px 0;
 }
nav ul li{
     display: inline-block;
     list-style: none;
     margin: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    color: #3f51b5;
}   
.text-area{
    margin-top: 130px;
    max-width: 600px;
}
.text-area h3{
    font-size: 45px;
    margin-botton: 20px;
}
.center{ 
    border: 1px solid black; 
    border-collapse: collapse;
    background: #f7efef;
    margin-left: auto;
    margin-right:auto;
    text-align: center; 
    
}
.center th,td{ 
    border: 1px solid black; 
    border-collapse: collapse; 
    text-align: center; 
    position: absolute;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
